{% extends "base.html.twig" %}

{% block title %}Résultat
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Résultat de votre recherche</h1>
		<table class="table table-hover ">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Titre</th>
					<th scope="col">Auteurs(s)</th>
					<th scope="col">Catégorie</th>
					<th scope="col">Date de publication</th>
					<th scope="col">Stock</th>
				</tr>
			</thead>
			<tbody>
				{% for book in books %}
					<tr class="table-active">
						<th scope="row">{{ book.id }}</th>
						<td>{{ book.title }}</td>
						<td>{{ authors }}</td>
						<td>{{ book.category }}</td>
						<td>{{ book.publicationDate|date('d/m/Y')}}</td>
						<td>{{ book.stock }}</td>
						{% if book.stock > 0 %}
							<td>
								<a href="{{ path('make.borrow', {'bookId': book.id}) }}" class=" btn btn-primary">Emprunter</a>
							</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<a href="{{ path('search') }}" type="submit" class="btn btn-primary mt-4">Autre recherche</a>
	</div>

{% endblock %}
