{% extends "base.html.twig" %}

{% block title %}Résultat
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Résultat de votre recherche</h1>
		<table class="table table-hover ">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Titre</th>
					<th scope="col">Auteurs(s)</th>
					<th scope="col">Catégorie</th>
					<th scope="col">Date de publication</th>
					<th scope="col">Stock</th>
				</tr>
			</thead>
			<tbody>
				<tr class="table-active">
					<th scope="row">{{ book[0].id }}</th>
					<td>{{ book[0].title }}</td>
					{% set foo = authors|split(",") %}
					<td>
						{% for author in foo %}
							{% if author is not empty %}
								<a href="{{ path('show.author', {'authorName': author}) }}">{{author}}</a>
							{% endif %}
						{% endfor %}
					</td>
					<td>{{ book[0].category }}</td>
					<td>{{ book[0].publicationDate|date('d/m/Y')}}</td>
					<td>{{ book[0].stock }}</td>
					{% if book[0].stock > 0 %}
						<td>
							<a href="{{ path('make.borrow', {'bookId': book[0].id}) }}" class=" btn btn-primary">Emprunter</a>
						</td>
					{% endif %}
				</tr>
			</tbody>
		</table>
		<a href="{{ path('search') }}" type="submit" class="btn btn-primary mt-4">Autre recherche</a>
	</div>

{% endblock %}
