<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('home')}}">Ma Bibliothèque</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link {% if app.request.attributes.get('_route') == 'home' %}active{% endif %}" href="{{ path('home')}}">Home
						<span class="visually-hidden">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if app.request.attributes.get('_route') == 'app.contact' %}active{% endif %}" href="{{ path('app.contact')}}">Contact
						<span class="visually-hidden">(current)</span>
					</a>
				</li>
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link {% if app.request.attributes.get('_route') == 'livres' %}active{% endif %}" href="{{ path('livres')}}">Livres
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
				{% endif %}
			</ul>
		</div>
		<div class="d-flex">
			{% if not app.user %}
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link {% if app.request.attributes.get('_route') == 'security.login' %}active{% endif %}" href="{{ path('security.login')}}">Connexion</a>
						<span class="visually-hidden">(current)</span>
					</li>
					<li class="nav-item">
						<a class="nav-link {% if app.request.attributes.get('_route') == 'security.registration' %}active{% endif %}" href="{{ path('security.registration')}}">Inscription</a>
						<span class="visually-hidden">(current)</span>
					</li>
				</ul>

			{% else %}
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link {% if app.request.attributes.get('_route') == 'security.logout' %}active{% endif %}" href="{{ path('security.logout')}}">Déconnexion</a>
						<span class="visually-hidden">(current)</span>
					</li>
				</ul>
			{% endif %}
		</div>
	</div>
</nav>
